@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,800');

@font-face{
  font-family: 'Airbag';
  src: url("./fonts/AirbagFree-Regular.ttf") format('truetype');
  src: url("./fonts/AirbagFree-Regular.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #29323c;
  word-wrap: break-word;
  overflow-x: hidden;
  text-align: center;
}

h1,
h3,
h4{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

a,
a:hover{
  text-decoration: none;
}

li{
  list-style: none;
}

.container{
  max-width: 1170px;
  margin: 0 auto;
}

.btn{
  padding: 12px 25px;
  border-radius: 100px;
  font-size: 0.725em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-repeat: repeat-x;
  text-transform: none;
  overflow: visible;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn:focus{
  outline-style: none;
}

.btn_primary{
  border: 1px solid #e8e8e8;
  color: #e8e8e8;
  background-color: transparent;
}

.btn_primary:hover{
  background-color: #e8e8e8;
  color: #29323c;
}

.section__title{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  font-weight: 800;
  padding-top: 99px;
  text-transform: uppercase;
}

.section__title-text{
  margin-top: 16px;
  margin-bottom: 93px;
  font-size: 0.9em;
  position: relative;
}

.section__title-text::after{
  content: '';
  width: 42px;
  height: 2px;
  background-color: #29323c;
  position: absolute;
  top: 36px;
  left: 49%;
}

.section__title_white{
  color: #e8e8e8;
}

.section__title-text_white{
  color: #e8e8e8;
}

.section__title-text_white::after{
  background-color: #e8e8e8;
}

/* Header */
header{
  background-image: url(./img/header_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #e8e8e8;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-family: 'Airbag', sans-serif;
  font-size: 3em;
  margin: 20px 0;
  letter-spacing: 4px;
  text-shadow: black 1px 1px 2px;
}

.navbar{
  display: flex;
  align-items: center;
  position: relative;
  font-family: 'Montserrat' sans-serif;
  font-weight: 400;
}

.navbar__text{
  padding: 2px 0;
}

.navbar__burger{
  width: 21px;
  height: 2px;
  margin-left: 18px;
  position: relative;
  background-color: #e8e8e8;
  cursor: pointer;
}

.navbar__burger::after{
  content: '';
  width: 21px;
  height: 2px;
  background-color: #e8e8e8;
  position: absolute;
  top: -8px;
  left: 0;
}

.navbar__burger::before{
  content: '';
  width: 21px;
  height: 2px;
  background-color: #e8e8e8;
  position: absolute;
  top: 8px;
  left: 0;
}

#toggle{
  display: none;
}

#toggle:checked ~ .navbar__menu{
  display: flex;
  flex-direction: column;
}

.navbar__menu{
  display: none;
  position: absolute;
  right: 0;
  top: 35px;
  font-family: 'Montserrat', sans-serif;
}

.menu-item{
  color: #e8e8e8;
}

.menu-item:hover{
  color: #ffffff;
}

.navbar__menu li{
  margin-bottom: 5px;
}

.navbar__menu li:hover{
  transform: scale(1.2);
}

.navbar__menu li:hover::after{
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: 7px;
  left: -15px;
  animation-name: menu-item-dash;
  animation-duration: 0.5s;
}

@keyframes menu-item-dash {
  0%{
    top: 0;
  }
  100%{
    top: 7px;
  }
}

.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home__title{
  margin-top: 200px;
  font-size: 2em;
}

.home__text{
  margin-top: 32px;
  margin-bottom: 25px;
  width: 60%;
  align-self: center;
}

.home__btn{
  margin: 0 auto;
}

.home__pointer{
  width: 50px;
  height: 50px;
  border: 1px solid #e8e8e8;
  border-radius: 50%;
  margin: 144px auto 104px auto;
  position: relative;
}

.home__pointer::after{
  content: '';
  width: 15px;
  height: 15px;
  border-right: 2px solid #e8e8e8;
  border-bottom: 2px solid #e8e8e8;
  transform: rotate(45deg);
  position: absolute;
  top: 13px;
  left: 16px;
}

.home__pointer::before{
  content: '';
  width: 1px;
  height: 104px;
  background-color: #e8e8e8;
  position: absolute;
  left: 24px;
  top: 51px;
}

/* Services section */
#services-s{
  background-color: #f5f5f5;
}

.services{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-group{
  display: flex;
  justify-content: space-between;
  padding-bottom: 78px;
}

.services-item{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.services-item__img{
  margin-bottom: 37px;
}

.services-item__title{
  margin-bottom: 25px;
  font-size: 1.025em;
  font-weight: bold;
}

.services-item__text{
  font-size: 0.9em;
}

/* Works section */
#works-s{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  max-width: 100%;
  background-color: #ffffff;
  text-align: center;
}

.works{
  display: flex;
  flex-wrap: wrap;
}

.works-item{
  flex-grow: 1;
  position: relative;
}

.works-item__img{
  width: 100%;
  height: 100%;
}

.works-desc{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #e8e8e8;
  background-color: rgba(41, 50, 60, 0.9);
}

.works-item:hover .works-desc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.works-desc__title{
  margin-bottom: 10px;
  font-size: 1.125em;
}

/* Rewiews section */
.slider{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1170px;
}

.slider-inner{
  overflow: hidden;
}

.slider-slides{
  width: 300%;
  transition: transform 1s ease;
}

.slides-item{
  float: left;
  width: 1170px;
  height: 100%;
}

.slider-controls{
  order: 1;
}

.slider-controls label{
  display: inline-block;
  margin: 0 5px;
  margin-bottom: 100px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  border: 1px solid #2b3746;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.8);
  border-radius: 50%;
}

.slider input[type="radio"]{
  display: none;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"]{
  background-color: #2b3746;
}

#btn-1:checked ~ .slider-inner .slider-slides {
  transform: translate(0);
}

#btn-2:checked ~ .slider-inner .slider-slides {
  transform: translate(-1170px);
}

#btn-3:checked ~ .slider-inner .slider-slides {
  transform: translate(-2340px);
}

.slides-item__symbol{
  padding-top: 26px;
  font-size: 2em;
  color: #959ba2;
}

.slides-item__text{
  line-height: 2;
}

.slides-item-person{
  margin: 37px 0;
}

.slides-item-person__name{
  margin-top: 15px;
  margin-bottom: 10px;
}

.slides-item-person__prof{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

/* Team section */
#team-s{
  background-image: url(./img/team_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.team-group{
  display: flex;
  justify-content: space-between;
  margin-bottom: 94px;
}

.team-card{
  background-color: rgba(200, 204, 207, 0.8);
  margin: 0 15px;
}

.team__btn{
  margin-bottom: 100px;
}

.card-img{
  position: relative;
}

.card-img-overflow{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 98%;
  background-color: rgba(41, 50, 60, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
}

.card-img:hover .card-img-overflow{
  display: flex;
}

.card-img-text{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #e8e8e8;
  position: relative;
}

.card-img-text::before{
  content: '';
  width: 42px;
  height: 2px;
  background-color: #e8e8e8;
  position: absolute;
  top: 25px;
  left: 35px;
}

.card-info{
  padding: 32px 0;
}

.card-info__name{
  font-size: 15px;
}

.card-info__position{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin-top: 10px;
}

.card-social{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-item{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #313233;
  margin: 0 2.5px;
}

.social-item__icon{
  font-size: 14px;
  color: #e8e8e8;
}
