@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans');

@font-face{
  font-family: 'Airbag';
  src: url("./fonts/AirbagFree-Regular.ttf") format('truetype');
  src: url("./fonts/AirbagFree-Regular.otf") format('opentype');
}
